        <!-- Start Nav -->
        <nav class="navbar navbar-expand-lg " style="background-color: #00000008; ">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="assets/img/FPTU-LOGO.png" alt="FPT-LOGO" width="100" class="d-inline-block align-text-center">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link " href="index.html">Tổng quan</a>
                  <a class="nav-link " href="#">Tìm kiếm</a>
                  <a class="nav-link " href="#">Nộp tiền</a>
                </div>
              </div>
            </div>
          </nav>
          <!-- End Nav -->