<!-- Start Login -->
<br>
<br>
<div class="card" style="width: 700px;max-width: calc(100% - 32px); min-height: 200px; margin: auto;">
    
    <div class="card-header text-center">
        <H2>F-PARKING HỆ THỐNG QUẢN LÝ NHÀ XE FPT</H2>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
              <label for="InputUserName" class="form-label">Tên đăng nhập</label>
              <input type="username" class="form-control" id="InputUserName" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="InputPassword" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="InputPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
            
          </form>
    </div>
    <div class="card-footer text-muted">
      FPT University
      <p>Vui lòng đăng nhập bằng tài khoản đã được nhà trường cấp</p>
  
    </div>
  </div>
  <!-- End Login -->